body {
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /*background-image: on code*/
    background-size: cover;
    background-size: 120%;
    background-position: center;
    color: white;
    margin: 0;

    -webkit-app-region: drag;
    -webkit-user-select: none;
    overflow: hidden;
}

.cover-image {
    width: 100%;
}

.info {
    /*position: absolute;*/
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /*padding: 8px;*/
    /*width: 334px;*/
    /*right: 0px;
    left: 0;*/
}

.paddingless-right {
    padding-right: 0px;
}

.paddingless-left {
    padding-left: 0px;
}

.paddingless {
    padding: 0px;
}

.padded-4 {
    padding: 4px;
}

.info h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}

.info h1 {
    font-size: 1.5em;
    /* Display 2 lines only, with elipisis... */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
}

.info h2 {
    font-size: 1.3em;
}

.info h3 {
    font-size: 1em;
    margin-top: .18em;
}

.controls {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
}

.player-button {
    color: #fff;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    margin: 0 8px;
    border-radius: 50%;
    font-size: 0.8em;
    text-align: center;
    outline: none;
    border: 2px solid #fff;
}

.player-button:active {
    outline: none;
}

/*CSS ANIMATION*/
.c--anim-btn span {
  display: block;
}

.c--anim-btn, .c-anim-btn {
  transition: 0.2s;
}

.c--anim-btn {
  height: 110px;
  overflow: hidden;
  width: 235px;
}

.c-anim-btn{
  margin-top: 0em;
  min-height: 110px;
  padding: 10px;
}

.c--anim-btn:hover .c-anim-btn{
  margin-top: -110px;
}
